[2019-01-31 14:03] gavinpc-mindgrub commented on #150
@RubenVerborgh, thanks for your thoughtful critique, and indeed for opening this issue.

For context, I am working on a system where independent components can communicate intent, capabilities, and other metadata (y'know, semantic web) to support visibility, portability, composition, tooling, etc.  RDF is the obvious choice for this.  In some cases this will involve small, standalone functions tha

[2019-01-31 15:47] elf-pavlik commented on #150
I meant that some libraries (we could think of them 'lower lever') will choose to only rely on the core `@rdfjs/data-model-spec` and if we don't define `.equals()` or define it differently than they would expect #151 they will use equality function they choose to compare terms and quads. This way it should work on instances produced by any compliant rdfjs data factory.

Other applications (we coul

[2019-02-01 01:31] blake-regalia commented on #150
re @RubenVerborgh

Disregarding the operator overloading part, I agree that the idiomatic way for comparing values in these cases is to use instance methods, e.g., `localeCompare` is an instance method of `String` and not a static one. This might be the closest precedent from ES.

I completely disagree. `term.equals({termType:'NamedNode', value:'http://ex.org/value'})` is a use case, whether or no

[2019-02-01 08:11] ericprud commented on #151
I prefer strict APIs over a permissive APIs because it trivially catches a large fraction of the likely errors. The effort in debugging an invocation of a permissive API typically involves a debugger and lots of rewinding from the first noticed problem, while catching the same error in a strict API typically happens so quickly and immediately we don't notice it. The occasions where one would sensi

[2019-02-01 08:38] blake-regalia commented on #151
@RubenVerborgh  I think you are giving an unfair representation to the issue. First of all, the suggestion was never to require implementors to explicitly `throw` an error, the argument was simply for allowing implementors to not check for falsy values which would automatically *raise* an exception for `null/undefinned`. The phrasing and arguments you've made make it seem we are asking implementor

[2019-02-01 08:46] RubenVerborgh commented on #151
This was definitely not my intention. I raised an open question regarding `false`/`throw`/unspec'ed.

You are suggesting unspec'ed. Unspec'ed means concretely that implementors have the freedom between returning `false` (which is what I want) or throwing (which is what I am against). I am not aware of a third proposed option. Hence, my arguments are for the first option and against the second opti

[2019-02-01 09:04] RubenVerborgh commented on #151
This was definitely not my intention. I raised an open question regarding `false`/`throw`/unspec'ed.

You are suggesting unspec'ed. Unspec'ed means concretely that implementors have the freedom between returning 1) `false` (which is what I want) or 2) throwing (which is what I am against). I am not aware of a third proposed option. Hence, my arguments are for the first option and against the secon

[2019-02-01 20:48] blake-regalia commented on #151
Sorry I made a typo; should be `this.subject.equals`, which *would* need to be checked in order to return false for all cases -- otherwise it would throw an error. My point was that you are arguing for consistency and that returning false works for `new Date()` yet it does not work for: `quad.equals(factory.quad({termType:'NamedNode', value:'http://ex.org/value'}, ...))`. Okay if you want to be co

[2019-02-01 21:00] RubenVerborgh commented on #151
I'm not sure why malformed `Term` objects would be more plausible; I don't have things that would generate then. But yes, internal object consistency is assumed. Otherwise, we even could/should start doubting the existence of `this.subject` at that point (the constructor assigned it, but maybe someone changed it, and what if accessing it throws an error).

[2019-02-01 22:12] elf-pavlik commented on #151
It seems that those two come as mutually exclusive requirements which I see as motivation for #150 This way as libraries which want to rely only on what `data-model-spec` defines, would need to use something like `if (equalTerm(previousPoster, currentPoster))`. While applications which want to use member method, may need to ensure that specific factory which provides custom extension creates all t

[2019-02-02 00:22] bergos commented on #151
@blake-regalia About the `equals` method of Node Buffer:

If Node.js defines it different to ECMA, I would rather follow the examples from ECMA as our spec is about JS.

Also I see it even as an argument for my `NoTerm` argument as a `Buffer` can be empty. So every API we had a look at supports somehow empty/null.

[2019-02-02 00:54] blake-regalia commented on #151
I would happily agree if there were any examples from ECMA on *objects* (i.e., non-frozen values that inherit from `Object`) but they are only for primitives (e.g., numbers and strings). For example, if only there was a `Date#equals` this whole debate would be settled but I have not been able to find any examples from ECMA on non-primitives.

Empty and null are completely different. The `NoTerm` d

[2019-02-02 19:19] blake-regalia commented on #151
Thanks @bergos 🙂 , the point is not to try/catch. The point is to prevent unexpected null/undefined variables from being silently ignored in prod.

[code]

[code]

[2019-02-03 22:52] bergos commented on #151
Thanks for explaining @blake-regalia. So in the end it's about priorities. For me it's more important to have null/empty feature than faulty code handling.

Also what we are working on is a spec and not a law. You are free to work outside the spec. Maybe you can do it even like this:

[code]

Well documented in the readme, so everyone knows this is a custom feature.

[2019-02-07 15:07] elf-pavlik commented on #138
Should we rename this repo to `data-model-spec` and rename `interface-spec.html` to `index.html` so that we have it available on https://rdf.js.org/data-model-spec ?

[2019-02-07 15:47] elf-pavlik commented on #124
I've made PR #153

[2019-02-07 16:11] elf-pavlik commented on #117
Created PR #154

[2019-02-07 16:23] elf-pavlik commented on #115
We have a reference implementation in orga: https://github.com/rdfjs/data-model

[2019-02-07 16:23] #115 closed

[2019-02-07 16:23] elf-pavlik commented on #74
closing in favor of #138

[2019-02-07 16:23] #74 closed

[2019-02-07 16:25] #22 closed

[2019-02-07 16:28] elf-pavlik commented on #47
Should we just reference https://github.com/rdfjs/data-model/tree/master/test ?

[2019-02-07 16:30] elf-pavlik commented on #67
We do last push for the `data-model-spec`, if someone subscribed to this issue works on implementation please consider it a last call for feedback!

[2019-02-07 16:53] bergos commented on #138
I made a PR to rename the file to `index.html` #155 . I think it's not a problem to rename the repo already now. The new start page for rdf.js.org is in progress. I should be able to make a PR till tomorrow.

[2019-02-07 17:05] bergos opened #156 "Move stream interfaces into separate spec"
Maybe we should split the current spec into `data-model-spec` and `stream-spec`. Having two separate specs would fit better into the structure like we have it now with the `dataset-spec`. Also it would be easier to make releases. Having less issues would help to get a better overview of the current state of the spec.

Let's vote: 👍 for a separate `stream-spec` 👎 to keep it like it is now.

[2019-02-07 17:23] RubenVerborgh commented on #156
I'm fine with it; we just need a good overview page then though explaining how everything fits together.

[2019-02-07 17:53] elf-pavlik commented on #156
:+1:
We would transfer those issues to that repo: https://github.com/rdfjs/representation-task-force/labels/Stream

[2019-02-08 23:01] elf-pavlik commented on #151
https://gitter.im/rdfjs/Representation-Task-Force?at=5c5e0715adf6cb0b2c87a986

For me the equals sunction in the library is sameTerm() which obvious suggests that it only expects to be passewd a term. I’d marginally be in favor of ending up with an exception if I pass it undefined, as experience tells me that is going to be the way a lot of wrrors are cuaght, and like @ericprud i prefer it the exc

[2019-02-10 16:38] elf-pavlik commented on #151
[code]

Instance created with this factory will not conform to the spec any more since when `null` or `undefined` given it will throw and not return `false` as spec mandates.

[2019-02-10 16:47] elf-pavlik commented on #137
I could make PR for `DataFactory#clone()`

[code]

I think in this case we don't allow `undefined` or `null`

[2019-02-11 07:39] rubensworks commented on #137
@elf-pavlik I would propose creating separate methods for cloning terms and quads (`cloneTerm`, `cloneQuad`). Implementations may otherwise become too complicated for determining the argument type.

[2019-02-11 08:12] RubenVerborgh commented on #137
fromTerm/fromQuad?

[2019-02-11 10:33] bergos commented on #137
👎  for `.clone()`, as this could be interpreted as a clone function of the factory itself. It doesn't make sense now, but maybe in the future we have an additional spec (Prefix + CURIE support which turns the DataFactory into an environment) were having multiple instance of the DataFactory makes more sense.

I favor `fromTerm` and `fromQuad` a little bit over `cloneTerm` and `cloneQuad`. `from*` i

[2019-02-11 13:40] bergos commented on #150
There was enough time to exchange up arguments. Let's close this issue. Based on 2 👍 and 8 👎 votes:

RESOLVED: We keep the `.equals` method of `Term` and `Quad`.

[2019-02-11 13:40] #150 closed

[2019-02-11 13:43] bergos commented on #151
I'm aware of it. I'm not saying this should be used by a library, but if you want, you can do it in your app. Also you should be aware that you risk compatibility with other libraries.

[2019-02-11 16:13] bergos commented on #151
Based on 8 👍 , 3 🎉 and 3 👀 votes, we will allow `null` and `undefined` values and return false for these cases.

How should we write it in the spec? Some details we have to clearify:

- In #142 `null` and `undefined` were explicit mentioned. Should we just write falsy?
- In the reference code we do a simple `!!other`. How do we get the description matching to the code?
- How should the WebIDL look

[2019-02-11 16:23] RubenVerborgh commented on #151
That is possible; reason I explicitly wrote `null`/`undefined` is because those are the two values for which the remainder does not hold. The remainder does hold for `false` and `0`, for instance.

We do not; the reference code has an optimization in there, which is not necessary to be spec'ed.

[2019-02-11 16:44] elf-pavlik commented on #137
`fromTerm` & `fromQuad` SGTM, if no one else makes PR today/tomorrow I'll submit one on Wednesday

[2019-02-11 17:20] #138 closed

[2019-02-11 17:24] elf-pavlik commented on #156
:+1: 6 :-1: 0 I will transfer issues now

[2019-02-11 17:24] #156 closed

[2019-02-11 20:01] vhf commented on #151
I suggest reapplying the patch I removed from #142 :

[code]

[2019-02-11 21:19] awwright commented on #150
@bergos Is voting on this really the best way to come to a consensus? My argument is a bit more nuanced than just a simple up or down vote.

[2019-02-11 21:27] gavinpc-mindgrub commented on #150
@bergos I would also add that per @blake-regalia's comment above, it may not have been clear what was being voted on.

The definition of equality is clear, the spec defines it, and implementations should include it.  The objection leading to this issue (#104) was just about the fact that requiring *instance* methods (any instance methods) means that ad hoc objects (such as `{termType: "BlankNode",

[2019-02-11 22:51] bergos commented on #150
@awwright The best way would have been to propose one or more other options to vote for, like we did it in #151, early after this issue was opened. But at some point we have to accept what the majority voted for doesn't go in that direction and discussing and voting again will not change the result.

@gavinpc-mindgrub I think it was clear what we voted on and just the comment by @elf-pavlik was un

[2019-02-11 23:00] bergos commented on #151
That's ok for me, I just want to be sure we all agree on it and there is no need to change the reference code to make explicit comparisons against `null` and `undefined`.

[2019-02-14 22:15] #67 closed

[2019-02-14 22:19] elf-pavlik commented on #32
Looking at reference implementation: https://github.com/rdfjs/data-model/blob/master/lib/variable.js

Do we really need factories which don't implement `DataFactory.variable()` ?

We could just remove *This method is optional.* from the spec.

[2019-02-14 22:21] elf-pavlik commented on #46
If someone wants to create a primer we should just create a dedicated repo for it. Preferably one would start it in personal repo and then propose transferring it to this orga.

[2019-02-14 22:21] #46 closed

[2019-02-14 22:24] elf-pavlik commented on #105
@blake-regalia do you still see a need for something like `.isRDFJSTerm` you originally proposed?

This issue could relate to #137

[2019-02-14 22:25] elf-pavlik commented on #112
We haven't touched it during the conference. I think once we resolve `equals()` issues and merge pending PRs we can tag 1.0.0rc1

[2019-02-15 01:27] #124 closed

[2019-02-15 04:18] elf-pavlik commented on #137
PR #158

[2019-02-20 16:35] namedgraph opened #159 "No Node interface?"
I think it is a shortcoming that `NamedNode` and `BlankNode` do not share a common super-type, which would make sense to call `Node`. Even the naming indicates that there should be one. Blank nodes and resources are the same except how they are labelled, no?

It makes it difficult to port code from Jena, which has such type hierarchy:
`RDFNode`
* `Resource`
  * `isBlank()` means bnode
  * `isURI()

[2019-02-20 18:03] RubenVerborgh commented on #159
But why? What tangible benefit would this bring?

[2019-02-20 18:41] namedgraph commented on #159
The benefit of a super-type would be that you could substitute a URI resource with a blank node and that would not require any changes to the code.

More specifically, consider I want to implement SPIN API in JS. The base class of the model is [Command](https://github.com/spinrdf/spinrdf/blob/master/src/main/java/org/spinrdf/model/Command.java), which extends Jena's [Resource](https://jena.apache.

[2019-02-20 18:43] namedgraph commented on #159
RDF4J has exactly the same concept of [Resource](http://docs.rdf4j.org/javadoc/2.0/org/eclipse/rdf4j/model/Resource.html):

[2019-02-20 19:01] RubenVerborgh commented on #159
The benefit of a super-type would be that you could substitute a URI resource with a blank node and that would not require any changes to the code.

It’s JavaScript; we already can.

[2019-02-20 19:06] namedgraph commented on #159
OK cool. And what about subclassing?

[2019-02-20 19:08] RubenVerborgh commented on #159
Up to the implementer; no superclass relationship is imposed (but it can be used). Add your own Node in between if you wish to; doesn’t break contract.

[2019-02-20 19:15] namedgraph commented on #159
I'll see if this works out.

To flip your question: what is the benefit of diverging from the RDF model used in major RDF frameworks?

[2019-02-20 19:17] RubenVerborgh commented on #159
We follow the RDF spec, and leave the freedom to follow other frameworks up to the implementers. Our spec does not impose any superclass relations, not even to Term.

[2019-02-23 16:28] #117 closed

[2019-03-04 20:58] elf-pavlik commented on #105
Let's close it due to lack of activity, please just reopen if needed.

[2019-03-04 20:58] #105 closed

[2019-03-04 21:08] elf-pavlik commented on #144
In #153 we have removed `Triple` alias and `DataFactory.triple()` method, at the same time recommending to represent a triple as quad set to an instance of `DefaultGraph`.

#154 show further motivation for it, `Source#match()` will query the 'union' (all graphs) with `null` or `undefined` passed as `graph` argument. To query just the 'default graph' one can pass an instance of `DefaultGraph` as `g

[2019-03-04 21:12] elf-pavlik commented on #159
@namedgraph would you ever create instances of `Node`? Or would you ever want `DataFactory.node()` method to create those instances?

[2019-03-04 21:17] namedgraph commented on #159
No, instances of `Node` would not make sense. Its purpose would be more like that of an interface, to enable the same contract for both URIs and blank nodes. Again, like Jena's [`Resource`](https://jena.apache.org/documentation/javadoc/jena/org/apache/jena/rdf/model/Resource.html).

[2019-03-04 21:18] RubenVerborgh commented on #159
But that interface would not have any different methods than `Term`; hence, it is not necessary from a JavaScript perspective.

[2019-03-04 21:19] RubenVerborgh commented on #159
Or phrased differently: name one thing that would be in `Node` that is not in `Term`, and we have a basis for discussion.

[2019-03-04 21:29] blake-regalia commented on #144
@awwright Quad is the more generic class of Triple. I think it would be easy to support your idea of Triple via subclassing Quad in some impl, but getting something like this into the spec is likely much harder. However, I do think it would be less cumbersome to propose (yet another) term type, e.g., `'NoGraph'` (kinda like how we currently use `'DefaultGraph'`), as opposed to introducing a new cl

[2019-03-04 21:36] namedgraph commented on #159
I need to look into some (code) examples then. Are there any? How would RDF/JS
- add/remove property - I assume as JSON properties?
- check existence of property (with a specific value)
- iterate properties (that match a combination of p/o values)

Any boilerplate would candidates for new methods.

What happens if I change `termType` from `BlankNode` to `NamedNode` yet the `value` is not a valid U

[2019-03-04 21:38] RubenVerborgh commented on #159
I'm confused; are we talking here about JSON properties (= JavaScript object keys), or RDF properties (= predicates)?

You would be operating outside of the spec, as Node is a read-only interface.

[2019-03-04 21:39] namedgraph commented on #159
Updated comment

[2019-03-04 21:41] RubenVerborgh commented on #159
These operations would be on the level of Dataset (https://rdf.js.org/dataset-spec/).

[2019-03-04 21:54] elf-pavlik commented on #159
#81 has strong support to define those instances as immutable

[2019-03-04 22:01] awwright commented on #144
@blake-regalia What's the behavior for `equals` then? Two triples are the same Triple regardless of which graphs they're found in. Do we change the behavior of `equals` to match this?

What about implementations that rely on using `equals` to sort and do strict equality of the graph property? Does the function become non-commutative?

[2019-03-04 22:07] elf-pavlik commented on #144
If you 'find it in a graph' then you have a Quad. As I understand @blake-regalia a `Triple` would have always `graph` set to suggested `NoGraph`, as soon as we have `graph` set to `NamedNode` or `DefaultGraph` (or 'BlankNode in generalized RDF) we have a `Quad`.

BTW personally I don't see need for suggested `Triple` and `NoGraph` and think we might just struggle with a different way of looking at

[2019-03-04 22:09] awwright commented on #144
A Quad is an assertion that a given Triple exists in a given Graph. It makes sense to talk about two Quads I find and ask if they're the same Triple!

[2019-03-04 22:12] namedgraph commented on #159
Right... coming from Jena, this looks inconvenient to me as well.

First of all, no `Triple` (= [`Statement`](https://jena.apache.org/documentation/javadoc/jena/org/apache/jena/rdf/model/Statement.html)) type, only `Quad`? Likewise, no `Graph` (= [`Model`](https://jena.apache.org/documentation/javadoc/jena/org/apache/jena/rdf/model/Model.html)), only `Dataset` (= [`Dataset`](https://jena.apache.or

[2019-03-04 22:14] elf-pavlik commented on #144
[code]

[2019-03-04 22:16] RubenVerborgh commented on #159
Rightly so, because they are different worlds.

The question we asked ourselves is rather: what is a common way to work with the main element of the RDF specification in JavaScript?

- `doc.removeAll(x)`: what does it remove? All triples where x is one component? Subject? Object?
- `doc.addProperty(x, y)`: to what subject does it add that property?

I honestly do not know the above answer.

Also,

[2019-03-04 22:18] awwright commented on #144
@elf-pavlik Sure, but you also have to explain why we instead have a throughly useless `Quad#equals` function that doesn't follow RDF semantics at all.

[2019-03-04 22:25] namedgraph commented on #159
Re. the methods, it's all in Jena's javadoc for [`Resource`](https://jena.apache.org/documentation/javadoc/jena/org/apache/jena/rdf/model/Resource.html).

OK so I'm getting to my point :) If I was about to build a higher-level resource-centric interface above `Dataset`, which type should my `Resource` extend?
- it can't be `Term` because it's too general - resource methods do not apply to literals

[2019-03-04 22:31] elf-pavlik commented on #159
vs https://github.com/simplerdf/simplerdf

`doc.title = "New title"`

I bet @bergos will update it to use implementation of https://rdf.js.org/dataset-spec/ which should allow you to also build your proposed interface on top of it.

Just to clarify do you refer to actually using [`ES extends`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes/extends) keyword in your code o

[2019-03-04 22:47] namedgraph commented on #159
@elf-pavlik there's no code yet :) I'm looking into how to port some of my Jena code to JS in a painless yet standard-compliant way.

I guess simplerdf is more like what I'm looking for. Too bad if it's not RDFJS compatible.

Note that Jena also has low-level [`Node`](https://jena.apache.org/documentation/javadoc/jena/org/apache/jena/graph/Node.html)/[`Graph`](https://jena.apache.org/documentation

[2019-03-04 23:00] RubenVerborgh commented on #159
And what I'm saying is: implement `Node` on that level then.

Nothing in the spec stops you from having a `Node` subclass. It just doesn't mandate it.

[2019-03-04 23:09] elf-pavlik commented on #159
If you look at reference implementation, it doesn't even have need to implement `Term` neither uses ES `class` or `extends` keywords. I doubt lack of `Node` interface in the spec would impact your implementation in any way. Once you start hitting some obstacles I'm sure someone on one of rdfjs gitter channels will suggest ES idiomatic solution.

BTW If you prefer some notion of strong types, #129

[2019-03-05 15:45] #133 closed

[2019-03-05 15:56] #151 closed

[2019-03-11 21:05] awwright commented on #144
For illustration, here's an example of a problem I just ran into: I've got a Dataset of RDF statements, organized by source file. I aggregate this dataset into a single graph, and use this graph to build a search index, sitemaps, tables of data, and other queries across the whole collection. Doing this in a Dataset _is possible_. (Dataset/Quad is, indeed, a superset of Graph/Triple.)

However, it'

[2019-03-11 21:20] namedgraph commented on #144
@awwright similar to my point here: https://github.com/rdfjs/data-model-spec/issues/159#issuecomment-469442618

[2019-03-11 21:33] namedgraph commented on #144
If the point of the RDF/JS spec is to form consensus around the API, why is it going against what established RDF APIs have been doing for 20 years? Is it a case of NIH syndrome?

Take RDF4J, Jena, ruby-rdf - *every* single of them contain an abstraction for graph and triple. That is because RDF 1.0 only standardized those.

Datasets and quads came much later, with SPARQL. Eventually they made it

[2019-03-11 22:26] awwright commented on #144
For the sake of argument, here's a couple considerations:

1. It might be the case a different API would bring more success to RDF usage by applications. Now that we have some implementation experience, how does this theory bear out?

2. This only needs to be an interface for data exchange that plays to the unique qualities of ECMAScript. But if a media type like Turtle is too unwieldy, why not sp

[2019-03-12 17:50] elf-pavlik commented on #144
RDF 1.1 , Trig, N-Quads all have 2014 release date. I think APIs started 20 years ago might have not taken Datasets and named graphs into account.

Let's think of this simple experiment, let's save exactly same representation for `application/n-triple` & `application/n-quad`, similar for `text/turtle` & `text/trig`. Actually this should even work if we respond with the same `N-Triple` based conten

[2019-03-17 18:38] namedgraph commented on #144
@elf-pavlik is that a trick question? The default graph. What does that prove?

I think a more relevant experiment is reading such data, then taking it from the default graph and storing it into named graph, which name is most likely the URI the data was read from.
Am I supposed to iterate the quads to change the graph component to do that?

This just goes against working with *graphs* as units (a

[2019-03-18 17:06] elf-pavlik commented on #144
Thinking about immutability conversation in #81 changing the graph component doesn't sound like a way to go. I think one would either use a transform stream which would create copy of each quad with different `graph`, or it would make sense in a similar way as one can give `baseIRI` to the parser to also provide some kind of `nameForDefaultGraph`. This way quads could have that IRI instead the def

[2019-04-08 12:41] elf-pavlik commented on #159
@namedgraph do you have any new input to this conversation or you think this issue can get closed?

[2019-04-08 20:15] awwright commented on #159
Someone clarify for me, isn't this what a `Term` is?

[2019-04-08 20:26] RubenVerborgh commented on #159
`Node` is a conceptual superclass of (only) `NamedNode` and `BlankNode`, whereas `Term` is a superclass of `Literal` and `Variable` as well.

[2019-04-08 20:31] awwright commented on #159
Yeah, then I'm not sure what benefit we get by creating a common superclass out of BlankNode and NamedNode.

Recall that a BlankNode can also quantify a Literal, too! So it would probably be misleading, at best, I think.

Is my assumption correct, that we call it a `Term` because `Node` is already in a WebIDL spec (in DOM)?

[2019-04-08 20:33] RubenVerborgh commented on #159
First time I hear that argument, so probably no. More likely to come from the [RDF spec](https://www.w3.org/TR/rdf11-concepts/#section-triples):

    IRIs, literals and blank nodes are collectively known as RDF terms.

[2019-04-08 20:35] awwright commented on #159
@RubenVerborgh Ah yes, of course.

In RDF Interfaces it was RDFNode, but RDF 1.1 wasn't a thing then.

[2019-04-08 20:38] namedgraph commented on #159
@elf-pavlik nothing more from me

[2019-04-08 21:09] #159 closed

[2019-04-09 17:45] dwhitney opened #161 "Remove type constraint on Stream/Sink/Store type variable"
Hey everyone,

In the [Typescript type definition](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/rdf-js/index.d.ts) there is a type constraint on all of the `Stream-spec` types of `Q extends BaseQuad = Quad`. I propose removing this constraint. With the constraint in place, the data structure is pretty useless. By removing the constraint one can define [Functor, Applicative,

[2019-04-15 01:55] #137 closed

[2019-04-15 02:10] awwright commented on #137
Sorry I just noticed this, but I'm curious... Why not pass a plain object to the Term or Quad functions directly?

[2019-04-15 14:44] elf-pavlik commented on #137
As I replied on https://gitter.im/rdfjs/public?at=5cb48398c55bd14d35ebcf88 single factory object makes it much easier to pass it around. Spec only defines methods on the factory and doesn't define any constructors for specific terms.

[2020-02-04 15:06] elf-pavlik commented on #150
For the record @rubensworks comment from https://github.com/rdfjs/stream-spec/pull/16#issuecomment-581933775

which IMHO does more harm than good.
Personally, I ran into more problems related to it (WASM, NAN, ...),
than cases where I actually was able to use it.
As such, I strongly disagree on adding such a method here as well.

@rubensworks could you possibly share more details about problems yo

[2020-02-05 09:14] rubensworks commented on #150
This issue illustrates an example of the difficulties that are encountered with the `.equals()` method: https://github.com/RubenVerborgh/HDT-Node/issues/35

In summary, RDF quads are created in C++ world, which should then be transferred into JS world through the NAN interface.
The `.equals()` method significantly complicates this process as the transferred objects are not just plain objects anymo

[2020-02-05 10:36] RubenVerborgh commented on #150
Also, I've heard a similar argument for WebWorkers, which can only pass simple objects.

(That said, I think it would/should be straightforward to slap a prototype on them.)

[2020-02-05 11:13] bergos commented on #150
I think this topic is a little bit bigger than just the `equals` method.

The possibility to pass around a factory to get instances of `Term` and `Quad` objects with custom methods without creating copies is part of foundation to find an agreement on this spec. Otherwise it would not have been possible to bring different parties together.

About the plain object problem: Why not use a factory that

[2020-05-20 07:28] rubensworks opened #162 "RDF* support"
[RDF*](https://blog.liu.se/olafhartig/2019/01/10/position-statement-rdf-star-and-sparql-star/) provides a way to annotate triples, and is quickly gaining traction by major SPARQL and RDF vendors+frameworks, such as [GraphDB](http://graphdb.ontotext.com/documentation/9.2/free/devhub/rdf-sparql-star.html) and [Jena](https://jena.apache.org/documentation/rdfstar/).

Since RDF/JS aims to be a common d

[2020-05-20 07:30] RubenVerborgh commented on #162
Sounds good (also the proposed implementation), but we might want it as opt-in.
So not extend `Quad` itself, but rather… `QuadTerm` perhaps?

[2020-05-20 07:41] rubensworks commented on #162
Yep, that makes sense. Would also be better for backwards-compatibility.
This should align nicely with the TS typings.

[2020-05-20 08:48] bergos commented on #162
What about allowing `termType` to be also `undefined` for `Quad`? Would keep the spec small and simple and I don't see any drawback.

[2020-05-20 08:55] RubenVerborgh commented on #162
^ That is an interesting suggestion, that seems to match RDF*.

[2020-05-20 09:04] rubensworks commented on #162
Good idea!

The only drawback I see with this is that it can become trickier to identify whether or not a given object (of unknown type) is a term.
This will for example not work anymore:
[code]

So if we go forward with this, we need a different way of identifying terms.

[2020-05-20 09:48] bergos commented on #162
Maybe my proposal was not clear enough. I would allow `undefined` and as a string `quad` as `termType` values.

It should not be a problem with that definition. I guess if you want to handle RDF* data, you will use a factory that explicitly supports RDF*. That means there are two cases where `termType` of a `Quad` is `undefined`:

- legacy libraries, not yet updated for RDF*
- new libraries that d

[2020-05-20 11:02] RubenVerborgh commented on #162
BTW, we likely want this to be `typeof object.termType === 'string'`.
Not only is such a check more accurate, it can also be better for performance (because this can be compiled away, or only requires a datatype lookup as opposed to a value lookup and subsequent casting to boolean).

[2020-05-20 11:43] rubensworks commented on #162
@bergos I misunderstood your earlier comment indeed, my bad.
This makes sense to me for you legacy reasons you pointed out.

Btw, do we want `@rdfjs/data-model` to be a factory that implements RDF* support?
Or shall we fork it to create a dedicate factory, such as `@rdfjs/data-model-star`?

[2020-05-20 11:57] retog commented on #162
I don't understand the issue with termType if quadTerm != quad.

A `quadTerm` would always be of termType "quad" and have the quad as its value.

[2020-05-20 12:02] rubensworks commented on #162
There's no issue anymore AFAICS.

The new range of `termType` would become: "NamedNode", "BlankNode", "Literal", "Variable", "DefaultGraph", "Quad", `undefined`.
The addition of `undefined` here is needed because quads that are produced by old legacy datafactories, will not yet include this `termType` field.

[2020-05-20 18:15] bergos commented on #162
@rubensworks I will add RDF* support to `@rdfjs/data-model`, but I will split the exports of the tests to allow running RDF and RDF* test separate.

[2020-05-20 18:21] rubensworks commented on #162
@bergos Great!

[2020-05-21 22:17] retog commented on #162
This seems not be needed if the type `Quad` to be extended to also be a term. Not if there is a separate type `QuadTerm`. I didn't read any objections aganst [that proposal](https://github.com/rdfjs/data-model-spec/issues/162#issuecomment-631291896).

[2020-07-09 09:22] rubensworks opened #166 "Support cardinality estimates over Sources"
The [`Source`](http://rdf.js.org/stream-spec/#source-interface) interface currently allows returning a stream of quads matching a given quad pattern.
Let's assume in this case that a `Source` is used to provide quads in a query engine.

For a query engine, it is crucial that sources can produce cardinality estimates for a given quad pattern, as this is needed in the query planning phase to determi

[2020-07-09 10:19] Tpt commented on #162
Thank you for this RDF* addition effort!
Sorry for the very late comment.

I just have semantic question: If the `Quad` structure is reused for encoding the nested RDF triple terms, what would be the meaning of this quad:
[code]
If we add this quad to a store, do we have the triple `ex:nestedSubject ex:nestedPredicate ex:nestedSubject` in both the graphs `ex:nestedGraph` and `ex:graph` or just in

[2020-07-09 10:27] rubensworks commented on #162
[code]

If I understand RDF* correctly, this would be translated into the following:
[code]
This means that `ex:nestedSubject ex:nestedPredicate ex:nestedObject ex:nestedGraph` is in fact not present in the dataset, only an annotation over it is present.
If you also want this quad to be present, the you would have to add it explicitly to the dataset, next to its annotation, like this:
[code]

So i

[2020-07-09 10:51] Tpt commented on #162
Ok! [Foundations of an Alternative Approach to Reification in RDF](https://arxiv.org/pdf/1406.3399.pdf) suggests otherwise by asserting also the nested triples. This seems to be to be a debated point. @hartig [talked about introducing two RDF*" modes in the RDF* mailing list](https://lists.w3.org/Archives/Public/public-rdf-star/2019Sep/0051.html), one with the nested facts also present (just like

[2020-07-09 11:09] rubensworks commented on #162
Thanks for clearning this up, I wasn't aware of this discussion.
In any case, whatever mode they decide on, I don't think it will have an impact on the RDFJS spec here.

Good point, RDF* is indeed restricted to triples, and doesn't allow annotating quads.
I do wonder if this is something we want to tackle and restrict at the RDFJS spec-level, or if this something parsers and serializers should han

[2020-07-09 12:11] hartig commented on #162
Hi all, not sure whether it is exactly related to your discussion here, but I mention it anyways: You are right, my original papers about the RDF*/SPARQL* approach do not consider a notion of named graphs for RDF*. On the other hand, conceiving such a notion is also trivial. Just take the notion of an RDF dataset (as defined by the RDF data model) and, instead of considering it to contain RDF grap

[2020-07-09 12:26] rubensworks commented on #162
Great to hear, sounds like supporting that in RDFJS is a good then.

I just imply RDF*, as I feel like it's a bit more descriptive than the name "RDF*" :-)
Happy to use something else if you think "annotation" does not correctly describe RDF*'s intended functionality.

In the [RDFJS spec](http://rdf.js.org/data-model-spec/#quad-interface), we use the notion of a quad as a foundational building blo

[2020-07-09 12:42] hartig commented on #162
Thanks for the clarification. I was not aware of that.
Now given this, here is an additional response to [your earlier comment](https://github.com/rdfjs/data-model-spec/issues/162#issuecomment-656064505): Conceptually, we may understand your [Quad](http://rdf.js.org/data-model-spec/#quad-interface) data structure as a representation for *an RDF triple within the context of a specific named graph*.

[2020-07-09 14:15] Tpt commented on #162
Thank you @hartig and @rubensworks for your replies!

Thank you! So, if understand correctly,
[code]
has a meaning and is valid in NQuads*. And
[code]
is invalid (option 1), or could be considered to be the same as
[code]
in "single assertion mode" or to be the same as
[code]
in "property graph mode" (option 2).
Am I correct?

If yes. I would be in favor of adding to the RDF/JS model specification

[2020-07-09 15:47] hartig commented on #162
@Tpt Note that we do not have a definition of a serialization format called NQuads*. In fact, we don't even have an RDF*-specific version of the [N-Triples](https://www.w3.org/TR/n-triples/) format. However, the latter may be extended easily into something that we may call N-Triples* along the lines of how we have extended [Turtle](https://www.w3.org/TR/turtle/) into Turtle*. Then, it is not diffi

[2020-07-09 17:03] Tpt commented on #162
@hartig Thank you for your comment and sorry for not being clear and for the notation abuses.

I abused the NQuad format to represent a problem that the currently proposed RDF/JS APIs for RDF* could lead to (c.f. #163 #164 #165) without having to write JavaScript code. The 3 proposals all allow a variation of the following code that leads to the case presented by my second example line:
[code]
(no

[2020-07-09 18:56] hartig commented on #162
Thomas, thanks a lot for this clarification (I am clearly not familiar with RDF/JS and the terminology that you use in this community ;-)

I understand see the dilemma now (which, IMHO, originates from the desire to build everything around this misleading [`Quad`](http://rdf.js.org/data-model-spec/#quad-interface) data structure which is conceptually incorrect even from a pure RDF perspective).

O

[2020-07-09 19:36] gkellogg commented on #162
This does raise RDF* data model issues though. Ruby RDF also uses quads internally, which I think is a fairly common problem. My interpretation is that RDF* is a triple annotation format, and not a quad format. But, if a statement inside a named graph has a triple as a subject or object, and were presuming PG mode, where is that triple to be assured. My view has been that the triple would be asser

[2020-07-09 22:23] hartig commented on #162
Gregg, that's a very interesting observation and one that I have never thought about (primarily because I have focused mostly on the single graph case so far). I agree that this is a strong point against PG mode!

[2020-07-13 12:03] rubensworks commented on #162
At the moment, two interface proposals seem to be receiving most attention:

* Composition (#163): `QuadTerm` is a `Term` containing a `Quad`.
* Extension (#165): `Quad` implements `Term`.

So far, none of them seem to jump out as a clear "best" approach.
In the original issue [above](https://github.com/rdfjs/data-model-spec/issues/162), I have summarized the main discussion points (in no particul

[2020-07-16 09:03] jacoscaz commented on #141
Based on some thinking in https://github.com/rdfjs/data-model-spec/issues/166 and others, I guess we could have a `supportedInterfaces` property pointing to which interface is implemented by a given object? This would require interfaces to be free of optional methods IMHO. Which I would be fine with, I think.

[2020-07-16 10:13] rubensworks opened #167 "Query Interface"
As pointed out in #166, there is a need for a separate query-specific spec.

This would enable functionality like:
* Cardinality estimation: https://github.com/rdfjs/data-model-spec/issues/166
* Pushing down filters: https://github.com/rdfjs/stream-spec/issues/17
* ...

Unless there are any major concerns against this, I would suggest creating a separate repo (`query-engine-spec`) to initiate this

[2020-07-18 21:50] jacoscaz commented on #167
I whole-heartedly support this!

[2020-07-31 12:33] bergos opened #168 "RDF* explanation and link"
We may/should add some explanation for RDF* to the spec. Also, a link should be added. Should we add the [blog post](https://blog.liu.se/olafhartig/2019/01/10/position-statement-rdf-star-and-sparql-star/) or the [paper](https://arxiv.org/abs/1406.3399) as a link? When will be an html spec of RDF* available?

[2020-07-31 12:38] rubensworks commented on #168
I would say the blog post, since that one is actively updated with links to new information.
No idea when an HTML spec will be available, but I would not wait for that, and just update our link when it's available.

[2020-08-17 08:40] jacoscaz commented on #167
With `quadstore@7.0.1-alpha.5` we got a first iteration of pushing filters down to the persistence level to work correctly and pass all tests.

Based on that, I think that the query interface could do well with focusing on being a low-level interface and offering a purely-declarative, pipeline-like way to describe queries (I have omitted RDF/JS-specific language for clarity):

[code]

The generati

[2020-08-17 15:21] rubensworks opened #169 "RDF*: Quad#equals missing Term type"
It should be allowed to pass a `Term` to `Quad#equals` given our recent RDF* changes. Right now, only `Quad` is allowed to be passed.

[2020-08-18 08:39] rubensworks commented on #167
Oh, very nice!

A pipeline-based architecture is interested, I hadn't thought of that before.
I'm just wondering if it's expressive enough for all types of queries.
I would suspect recursive filter definitions may be a bit more expressive, which is what SPARQL algebra does.

------

I'll look into setting up a dedicated repo, since there don't seem to be any concerns against it.

[2020-08-18 08:52] rubensworks commented on #162
Can be closed, since #165 has been merged.

[2020-08-18 08:52] #162 closed

[2020-08-18 08:57] rubensworks commented on #167
I've created a [new repo](https://github.com/rdfjs/query-spec/), let's use the issue tracker there for proposing concrete things.

[2020-08-18 08:57] #167 closed

[2020-08-28 19:24] blake-regalia commented on #169
Also, `fromQuad` is now obsolete. Another also, would be good to mention in the spec that `Quad#value` can be ignored when testing `Quad#equals`.

[2022-02-11 17:52] bergos opened #170 "WebIDL errors"
ReSpec reports some errors in the WebIDL part of the current version of the specification. The complete list of messages can be seen with the browser's developer tools. All errors should be analyzed and fixed.

[2022-04-25 23:44] awwright commented on #144
Something I either didn't see or forgot to mention:

This is not true because Quad always makes an assertion that some graph contains some triple; Triple does not do this. Therefore, the two classes have disjoint semantics.

[2022-05-16 21:30] bergos commented on #170
fixed in #171

[2022-05-16 21:30] #170 closed